---
// src/pages/index.astro
import Main from '../components/Main.astro';
---

<html lang="en">
  <head>
    <title>Indovina il personaggio | AI Powered</title>
    <meta name="description" content="Guess the character in this fun game!" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="bg-gray-900 text-white py-4 px-6 text-center">
      <h1 class="text-2xl font-bold">Indovina il personaggio | AI Powered</h1>
    </header>
    <Main />
    <footer class="mt-auto bg-gray-900 text-white py-4 px-6 text-center">
		<p>Copyright 2024 <a href="https://passarelli.dev">Thomas Spensieri.</a> Tutti i diritti riservati</p>  </footer>
    </footer>
  </body>
</html>
