---
// src/components/Footer.astro
---
<footer class="bg-gray-900 text-white py-4 px-6 text-center">
    <p>Copyright 2024 <a href="https://passarelli.dev">Alessandro Passarelli.</a> Tutti i diritti riservati</p>
  </footer>
  